interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-acr?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-acr''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/networkFunctionDefinitionGroups/ubuntu-vm?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/networkFunctionDefinitionGroups/ubuntu-vm''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-blob-store?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-blob-store''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.26.170.59819", "templateHash": "330068761100729304"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of a publisher, expected to be in the resource group where you deploy
      the template"}}, "acrArtifactStoreName": {"type": "string", "metadata": {"description":
      "Name of an ACR-backed Artifact Store, deployed under the publisher."}}, "saArtifactStoreName":
      {"type": "string", "metadata": {"description": "Name of a Storage Account-backed
      Artifact Store, deployed under the publisher."}}, "nfDefinitionGroup": {"type":
      "string", "metadata": {"description": "Name of a Network Function Definition
      Group"}}}, "resources": [{"type": "Microsoft.HybridNetwork/publishers", "apiVersion":
      "2023-09-01", "name": "[parameters(''publisherName'')]", "location": "[parameters(''location'')]",
      "properties": {"scope": "Private"}}, {"type": "Microsoft.HybridNetwork/publishers/artifactStores",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}'', parameters(''publisherName''),
      parameters(''acrArtifactStoreName''))]", "location": "[parameters(''location'')]",
      "properties": {"storeType": "AzureContainerRegistry"}, "dependsOn": ["[resourceId(''Microsoft.HybridNetwork/publishers'',
      parameters(''publisherName''))]"]}, {"type": "Microsoft.HybridNetwork/publishers/artifactStores",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}'', parameters(''publisherName''),
      parameters(''saArtifactStoreName''))]", "location": "[parameters(''location'')]",
      "properties": {"storeType": "AzureStorageAccount"}, "dependsOn": ["[resourceId(''Microsoft.HybridNetwork/publishers'',
      parameters(''publisherName''))]"]}, {"type": "Microsoft.HybridNetwork/publishers/networkFunctionDefinitionGroups",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}'', parameters(''publisherName''),
      parameters(''nfDefinitionGroup''))]", "location": "[parameters(''location'')]",
      "dependsOn": ["[resourceId(''Microsoft.HybridNetwork/publishers'', parameters(''publisherName''))]"]}]},
      "parameters": {"location": {"value": "uksouth"}, "publisherName": {"value":
      "automated-cli-tests-ubuntu-publisher"}, "acrArtifactStoreName": {"value": "ubuntu-acr"},
      "nfDefinitionGroup": {"value": "ubuntu-vm"}, "saArtifactStoreName": {"value":
      "ubuntu-blob-store"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/AOSM_CLI_deployment_1714028348",
        "name": "AOSM_CLI_deployment_1714028348", "type": "Microsoft.Resources/deployments",
        "properties": {"templateHash": "330068761100729304", "parameters": {"location":
        {"type": "String", "value": "uksouth"}, "publisherName": {"type": "String",
        "value": "automated-cli-tests-ubuntu-publisher"}, "acrArtifactStoreName":
        {"type": "String", "value": "ubuntu-acr"}, "saArtifactStoreName": {"type":
        "String", "value": "ubuntu-blob-store"}, "nfDefinitionGroup": {"type": "String",
        "value": "ubuntu-vm"}}, "mode": "Incremental", "provisioningState": "Succeeded",
        "timestamp": "0001-01-01T00:00:00Z", "duration": "PT0S", "correlationId":
        "102cd870-a5fa-4eec-8b24-6e46bbbc84ba", "providers": [{"namespace": "Microsoft.HybridNetwork",
        "resourceTypes": [{"resourceType": "publishers", "locations": ["uksouth"]},
        {"resourceType": "publishers/artifactStores", "locations": ["uksouth"]}, {"resourceType":
        "publishers/networkFunctionDefinitionGroups", "locations": ["uksouth"]}]}],
        "dependencies": [{"dependsOn": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher",
        "resourceType": "Microsoft.HybridNetwork/publishers", "resourceName": "automated-cli-tests-ubuntu-publisher"}],
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-acr",
        "resourceType": "Microsoft.HybridNetwork/publishers/artifactStores", "resourceName":
        "automated-cli-tests-ubuntu-publisher/ubuntu-acr"}, {"dependsOn": [{"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resou[...]
[...]
{"scope": "Private"}}, {"type": "Microsoft.HybridNetwork/publishers/artifactStores",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}'', parameters(''publisherName''),
      parameters(''acrArtifactStoreName''))]", "location": "[parameters(''location'')]",
      "properties": {"storeType": "AzureContainerRegistry"}, "dependsOn": ["[resourceId(''Microsoft.HybridNetwork/publishers'',
      parameters(''publisherName''))]"]}, {"type": "Microsoft.HybridNetwork/publishers/artifactStores",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584875785312144750?api-version=2022-09-01
  response:
    body:
      string: '{"status": "Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.26.170.59819", "templateHash": "13033189923379786498"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
      deploy the template"}}, "acrArtifactStoreName": {"type": "string", "metadata":
      {"description": "Name of an existing ACR-backed Artifact Store, deployed under
      the publisher."}}, "saArtifactStoreName": {"type": "string", "metadata": {"description":
      "Name of an existing Storage Account-backed Artifact Store, deployed under the
      publisher."}}, "acrManifestName": {"type": "string", "metadata": {"description":
      "Name of the manifest to deploy for the ACR-backed Artifact Store"}}, "saManifestName":
      {"type": "string", "metadata": {"description": "Name of the manifest to deploy
      for the Storage Account-backed Artifact Store"}}}, "resources": [{"type": "Microsoft.HybridNetwork/publishers/artifactStores/artifactManifests",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''acrArtifactStoreName''), parameters(''acrManifestName''))]", "location":
      "[parameters(''location'')]", "properties": {"artifacts": [{"artifactName":
      "automated-cli-tests-artifact", "artifactType": "ArmTemplate", "artifactVersion":
      "1.0.0"}]}}, {"type": "Microsoft.HybridNetwork/publishers/artifactStores/artifactManifests",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''saArtifactStoreName''), parameters(''saManifestName''))]", "location":
      "[parameters(''location'')]", "properties": {"artifacts": [{"artifactName":
      "automated-cli-tests-vhd", "artifactType": "VhdImageFile", "artifactVersion":
      "1-0-0"}]}}]}, "parameters": {"location[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0/listCredential?api-version=2023-09-01
  response:
    body:
      string: '{"username": "ubuntu-vm-acr-manifest-1-0-0", "acrToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "acrServerUrl": "https://automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io",
        "repositories": ["automated-cli-tests-artifact"], "expiry": "2024-04-26T07:05:11.6237035+00:00",
        "credentialType": "AzureContainerRegistryScopedToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02651.2759
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io/v2/automated-cli-tests-artifact/blobs/uploads/
  response:
    body:
      string: '{"errors": [{"code": "UNAUTHORIZED", "message": "authentication required,
        visit https://aka.ms/acr/authorization for more information.", "detail": [{"Type":
        "repository", "Name": "automated-cli-tests-artifact", "Action": "pull"}, {"Type":
        "repository", "Name": "automated-cli-tests-artifact", "Action": "push"}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      docker-distribution-api-version:
      - registry/2.0
      www-authenticate:
      - Bearer realm="https://automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io/oauth2/token",service="automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io",scope="repository:automated-cli-tests-artifact:pull,push"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Service:
      - automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io
    method: GET
    uri: https://automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io/oauth2/token?service=automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io&scope=repository%3Aautomated-cli-tests-artifact%3Apull%2Cpush
  response:
    body:
      string: '{"access_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second:
      - '333.316667'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io/v2/automated-cli-tests-artifact/blobs/uploads/
  response:
    body:
      string: ''
    headers:
      docker-distribution-api-version:
      - registry/2.0
      docker-upload-uuid:
      - 6fac6a2c-beae-428e-b6fa-fd15fac0f9ef
      location:
      - /v2/automated-cli-tests-artifact/blobs/uploads/6fac6a2c-beae-428e-b6fa-fd15fac0f9ef?_nouploadcache=false&_state=wGUh1I-_-wEWD6dlLhb94l1T5nbP7As6QOk77QhdTbB7Ik5hbWUiOiJhdXRvbWF0ZWQtY2xpLXRlc3RzLWFydGlmYWN0IiwiVVVJRCI6IjZmYWM2YTJjLWJlYWUtNDI4ZS1iNmZhLWZkMTVmYWMwZjllZiIsIk9mZnNldCI6MCwiU3RhcnRlZEF0IjoiMjAyNC0wNC0yNVQwNzowNToxNC43NDY5MDQxNjFaIn0%3D
      range:
      - 0-0
    status:
      code: 202
      message: Accepted
- request:
    body: "{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"metadata\": {\n    \"_generator\": {\n
      \     \"name\": \"bicep\",\n      \"version\": \"0.8.9.13224\",\n      \"templateHash\":
      \"14979664264804385741\"\n    }\n  },\n  \"parameters\": {\n    \"location\":
      {\n      \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\"\n
      \   },\n    \"subnetName\": {\n      \"type\": \"string\"\n    },\n    \"ubuntuVmName\":
      {\n      \"type\": \"string\",\n      \"defaultValue\": \"ubuntu-vm\"\n    },\n
      \   \"virtualNetworkId\": {\n      \"type\": \"string\"\n    },\n    \"sshPublicKeyAdmin\":
      {\n      \"type\": \"string\"\n    },\n    \"imageName\": {\n      \"type\":
      \"string\"\n    }\n  },\n  \"variables\": {\n    \"imageResourceGroup\": \"[resourceGroup().name]\",\n
      \   \"subscriptionId\": \"[subscription().subscriptionId]\",\n    \"vmSizeSku\":
      \"Standard_D2s_v3\"\n  },\n  \"resources\": [\n    {\n      \"type\": \"Microsoft.Network/networkInterfaces\",\n
      \     \"apiVersion\": \"2021-05-01\",\n      \"name\": \"[format('{0}_nic',
      parameters('ubuntuVmName'))]\",\n      \"location\": \"[parameters('location')]\",\n
      \     \"properties\": {\n        \"ipConfigurations\": [\n          {\n            \"name\":
      \"ipconfig1\",\n            \"properties\": {\n              \"subnet\": {\n
      \               \"id\": \"[format('{0}/subnets/{1}', parameters('virtualNetworkId'),
      parameters('subnetName'))]\"\n              },\n              \"primary\": true,\n
      \             \"privateIPAddressVersion\": \"IPv4\"\n            }\n          }\n
      \       ]\n      }\n    },\n    {\n      \"type\": \"Microsoft.Compute/virtualMachines\",\n
      \     \"apiVersion\": \"2021-07-01\",\n      \"name\": \"[parameters('ubuntuVmName')]\",\n
      \     \"location\": \"[parameters('location')]\",\n      \"properties\": {\n
      \       \"hardwareProfile\": {\n          \"vmSize\": \"[variables('vmSizeSku')]\"\n
      \       },\n        \"storageProfile\": {\n          \"imageReference\": {\n
      \           \"id\": \"[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}',
      variables('subscriptionId'), variables('imageResourceGroup')), 'Microsoft.Compute/images',
      parameters('imageName'))]\"\n          },\n          \"osDisk\": {\n            \"osType\":
      \"Linux\",\n            \"name\": \"[format('{0}_disk', parameters('ubuntuVmName'))]\",\n
      \           \"createOption\": \"FromImage\",\n            \"caching\": \"ReadWrite\",\n
      \           \"writeAcceleratorEnabled\": false,\n            \"managedDisk\":
      \"[json('{\\\"storageAccountType\\\": \\\"Premium_LRS\\\"}')]\",\n            \"deleteOption\":
      \"Delete\",\n            \"diskSizeGB\": 30\n          }\n        },\n        \"osProfile\":
      {\n          \"computerName\": \"[parameters('ubuntuVmName')]\",\n          \"adminUsername\":
      \"azureuser\",\n          \"linuxConfiguration\": {\n            \"disablePasswordAuthentication\":
      true,\n            \"ssh\": {\n              \"publicKeys\": [\n                {\n
      \                 \"path\": \"/home/azureuser/.ssh/authorized_keys\",\n                  \"keyData\":
      \"[parameters('sshPublicKeyAdmin')]\"\n                }\n              ]\n
      \           },\n            \"provisionVMAgent\": true,\n            \"patchSettings\":
      {\n              \"patchMode\": \"ImageDefault\",\n              \"assessmentMode\":
      \"ImageDefault\"\n            }\n          },\n          \"secrets\": [],\n
      \         \"allowExtensionOperations\": true\n        },\n        \"networkProfile\":
      {\n          \"networkInterfaces\": [\n            {\n              \"id\":
      \"[resourceId('Microsoft.Network/networkInterfaces', format('{0}_nic', parameters('ubuntuVmName')))]\"\n
      \           }\n          ]\n        }\n      },\n      \"dependsOn\": [\n        \"[resourceId('Microsoft.Network/networkInterfaces',
      format('{0}_nic', parameters('ubuntuVmName')))]\"\n      ]\n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io/v2/automated-cli-tests-artifact/blobs/uploads/6fac6a2c-beae-428e-b6fa-fd15fac0f9ef?_nouploadcache=false&_state=wGUh1I-_-wEWD6dlLhb94l1T5nbP7As6QOk77QhdTbB7Ik5hbWUiOiJhdXRvbWF0ZWQtY2xpLXRlc3RzLWFydGlmYWN0IiwiVVVJRCI6IjZmYWM2YTJjLWJlYWUtNDI4ZS1iNmZhLWZkMTVmYWMwZjllZiIsIk9mZnNldCI6MCwiU3RhcnRlZEF0IjoiMjAyNC0wNC0yNVQwNzowNToxNC43NDY5MDQxNjFaIn0%3D&digest=sha256%3Ae71bf56543dc33dc8e550a0c574efe9a4875754a4ddf74347e448dec2462798b
  response:
    body:
      string: ''
    headers:
      docker-content-digest:
      - sha256:e71bf56543dc33dc8e550a0c574efe9a4875754a4ddf74347e448dec2462798b
      docker-distribution-api-version:
      - registry/2.0
      location:
      - /v2/automated-cli-tests-artifact/blobs/sha256:e71bf56543dc33dc8e550a0c574efe9a4875754a4ddf74347e448dec2462798b
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Service:
      - automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io
    method: GET
    uri: https://automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io/oauth2/token?service=automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io&scope=repository%3Aautomated-cli-tests-artifact%3Apush%2Cpull
  response:
    body:
      string: '{"access_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second:
      - '333.316667'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io/v2/automated-cli-tests-artifact/blobs/uploads/10641ba5-7f7e-4eee-a936-6062b3b12a70?_nouploadcache=false&_state=_2DWmSlwAfZ_L7lH2BsQSNvN9-sXqGAGfL3bNY3dpIh7Ik5hbWUiOiJhdXRvbWF0ZWQtY2xpLXRlc3RzLWFydGlmYWN0IiwiVVVJRCI6IjEwNjQxYmE1LTdmN2UtNGVlZS1hOTM2LTYwNjJiM2IxMmE3MCIsIk9mZnNldCI6MCwiU3RhcnRlZEF0IjoiMjAyNC0wNC0yNVQwNzowNToxNi44NTIyMDA2MDhaIn0%3D&digest=sha256%3A44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
  response:
    body:
      string: ''
    headers:
      docker-content-digest:
      - sha256:44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      docker-distribution-api-version:
      - registry/2.0
      location:
      - /v2/automated-cli-tests-artifact/blobs/sha256:44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
    status:
      code: 201
      message: Created
- request:
    body: '{"schemaVersion": 2, "mediaType": "application/vnd.oci.image.manifest.v1+json",
      "config": {"mediaType": "application/vnd.unknown.config.v1+json", "size": 2,
      "digest": "sha256:44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a"},
      "layers": [{"mediaType": "application/vnd.oci.image.layer.v1.tar", "size": 3591,
      "digest": "sha256:e71bf56543dc33dc8e550a0c574efe9a4875754a4ddf74347e448dec2462798b",
      "annotations": {"org.opencontainers.image.title": "ubuntu_template.json"}}],
      "annotations": {}}'
    headers:
      Content-Type:
      - application/vnd.oci.image.manifest.v1+json
    method: PUT
    uri: https://automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io/v2/automated-cli-tests-artifact/manifests/1.0.0
  response:
    body:
      string: '{"errors": [{"code": "UNAUTHORIZED", "message": "authentication required,
        visit https://aka.ms/acr/authorization for more information.", "detail": [{"Type":
        "repository", "Name": "automated-cli-tests-artifact", "Action": "pull"}, {"Type":
        "repository", "Name": "automated-cli-tests-artifact", "Action": "push"}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      docker-distribution-api-version:
      - registry/2.0
      www-authenticate:
      - Bearer realm="https://automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io/oauth2/token",service="automatedclitestsubuntupublisherubuntuac2cb2294f0a.azurecr.io",scope="repository:automated-cli-tests-artifact:pull,push"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-tests-ubuntu-publisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0/listCredential?api-version=2023-09-01
  response:
    body:
      string: '{"storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ubuntu-blob-store-HostedResources-4EB912EE/providers/Microsoft.Storage/storageAccounts/4eb912eeubuntublobstoref",
        "containerCredentials": [{"containerName": "automatedclitestsvhd-1-0-0", "containerSasUri":
        "https://xxxxxxxxxxxxxxx.blob.core.windows.net/automatedclitestsvhd-1-0-0?sv=2021-08-06&si=StorageAccountAccessPolicy&sr=xxxxxxxxxxxxxxxxxxxx"}],
        "expiry": "2024-04-26T07:05:22.4533092+00:00", "credentialType": "AzureStorageAccountToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02651.2759
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '512'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 25 Apr 2024 07:05:21 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://xxxxxxxxxxxxxxx.blob.core.windows.net/automatedclitestsvhd-1-0-0/automatedclitests-1-0-0.vhd?sv=2021-08-06&si=StorageAccountAccessPolicy&sr=xxxxxxxxxxxxxxxxxxxx
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC64F613958CD5"'
      last-modified:
      - Thu, 25 Apr 2024 07:05:23 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: "61 38 6b 92 16 4b cc ac 6f d4 02 5c 6f 62 79 b9 \n8e 62 ae 07 02 1c dc
      73 5b 7a 51 e7 56 4e 4a b0 \n54 4a 93 2e 6b dd 3c b5 8b 60 fa 80 b1 80 1b 89
      \n1e 4d 7d 86 8e 25 76 58 24 8d 21 87 83 06 88 d6 \na4 fd 94 9c 66 b6 db ee
      92 46 f0 25 fc 84 bb f5 \n3f d9 49 28 ea 54 6a 2a 33 fa e0 47 eb 22 af 91 \nd4
      34 a6 d9 fe 58 cb 54 03 35 d6 45 40 96 4e f3 \n31 ea 78 20 45 e9 f2 3a de cb
      38 53 c0 9c b2 b7 \n12 9e 57 d9 f6 1b cb 20 23 8c 86 d3 40 da 84 c3 \n22 5b
      48 61 63 e2 5f 5f 43 6d 8f 41 fc ce c1 87 \n33 e1 e2 61 63 e2 5f 5"
    headers:
      Content-Type:
      - application/octet-stream
      If-Match:
      - '"0x8DC64F613958CD5"'
      x-ms-date:
      - Thu, 25 Apr 2024 07:05:22 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://xxxxxxxxxxxxxxx.blob.core.windows.net/automatedclitestsvhd-1-0-0/automatedclitests-1-0-0.vhd?comp=page&sv=2021-08-06&si=StorageAccountAccessPolicy&sr=xxxxxxxxxxxxxxxxxxxx
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC64F61445525C"'
      last-modified:
      - Thu, 25 Apr 2024 07:05:24 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-content-crc64:
      - iWvWqElPrJg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.26.170.59819", "templateHash": "15824080055511440865"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
[...]
