interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cnf_nfd_000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher''
        under resource group ''cli_test_cnf_nfd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.26.54.24096", "templateHash": "15628236071821911085"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of a publisher, expected to be in the resource group where you deploy
      the template"}}, "acrArtifactStoreName": {"type": "string", "metadata": {"description":
      "Name of an ACR-backed Artifact Store, deployed under the publisher."}}, "nfDefinitionGroup":
      {"type": "string", "metadata": {"description": "Name of a Network Function Definition
      Group"}}}, "resources": [{"type": "Microsoft.HybridNetwork/publishers", "apiVersion":
      "2023-09-01", "name": "[parameters(''publisherName'')]", "location": "[parameters(''location'')]",
      "properties": {"scope": "Private"}}, {"type": "Microsoft.HybridNetwork/publishers/artifactStores",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}'', parameters(''publisherName''),
      parameters(''acrArtifactStoreName''))]", "location": "[parameters(''location'')]",
      "properties": {"storeType": "AzureContainerRegistry"}, "dependsOn": ["[resourceId(''Microsoft.HybridNetwork/publishers'',
      parameters(''publisherName''))]"]}, {"type": "Microsoft.HybridNetwork/publishers/networkFunctionDefinitionGroups",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}'', parameters(''publisherName''),
      parameters(''nfDefinitionGroup''))]", "location": "[parameters(''location'')]",
      "dependsOn": ["[resourceId(''Microsoft.HybridNetwork/publishers'', parameters(''publisherName''))]"]}]},
      "parameters": {"location": {"value": "uksouth"}, "publisherName": {"value":
      "automated-cli-test-nginx-publisher"}, "acrArtifactStoreName": {"value": "nginx-acr"},
      "nfDefinitionGroup": {"value": "nginx"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cnf_nfd_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.Resources/deployments/AOSM_CLI_deployment_1715954143",
        "name": "AOSM_CLI_deployment_1715954143", "type": "Microsoft.Resources/deployments",
        "properties": {"templateHash": "15628236071821911085", "parameters": {"location":
        {"type": "String", "value": "uksouth"}, "publisherName": {"type": "String",
        "value": "automated-cli-test-nginx-publisher"}, "acrArtifactStoreName": {"type":
        "String", "value": "nginx-acr"}, "nfDefinitionGroup": {"type": "String", "value":
        "nginx"}}, "mode": "Incremental", "provisioningState": "Succeeded", "timestamp":
        "0001-01-01T00:00:00Z", "duration": "PT0S", "correlationId": "f1d4b0eb-2cb8-46bd-a1b6-3fb49e6426da",
        "providers": [{"namespace": "Microsoft.HybridNetwork", "resourceTypes": [{"resourceType":
        "publishers", "locations": ["uksouth"]}, {"resourceType": "publishers/artifactStores",
        "locations": ["uksouth"]}, {"resourceType": "publishers/networkFunctionDefinitionGroups",
        "locations": ["uksouth"]}]}], "dependencies": [{"dependsOn": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher",
        "resourceType": "Microsoft.HybridNetwork/publishers", "resourceName": "automated-cli-test-nginx-publisher"}],
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher/artifactStores/nginx-acr",
        "resourceType": "Microsoft.HybridNetwork/publishers/artifactStores", "resourceName":
        "automated-cli-test-nginx-publisher/nginx-acr"}, {"dependsOn": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher",
        "resourceType": "Microsoft.HybridNetwork/publishers", "resourceName": "automated-cli-test-nginx-publisher"}],
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher/networkFunctionDefinitionGroups/nginx",
        "resourceType": "Microsoft.HybridNetwork/publishers/networkFunctionDefinitionGroups",
        "resourceName": "automated-cli-test-nginx-publisher/nginx"}], "validatedResources":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher"},
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher/artifactStores/nginx-acr"},
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher/networkFunctionDefinitionGroups/nginx"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
{"scope": "Private"}}, {"type": "Microsoft.HybridNetwork/publishers/artifactStores",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}'', parameters(''publisherName''),
      parameters(''acrArtifactStoreName''))]", "location": "[parameters(''location'')]",
      "properties": {"storeType": "AzureContainerRegistry"}, "dependsOn": ["[resourceId(''Microsoft.HybridNetwork/publishers'',
      parameters(''publisherName''))]"]}, {"type": "Microsoft.HybridNetwork/publishers/networkFunctionD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cnf_nfd_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584856527431705314?api-version=2022-09-01
  response:
    body:
      string: '{"status": "Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher/artifactStores/nginx-acr/artifactManifests/nginx-acr-manifest-1-0-0?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher/artifactStores/nginx-acr/artifactManifests/nginx-acr-manifest-1-0-0''
        under resource group ''cli_test_cnf_nfd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.26.54.24096", "templateHash": "14797403328055843136"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
      deploy the template"}}, "acrArtifactStoreName": {"type": "string", "metadata":
      {"description": "Name of an existing ACR-backed Artifact Store, deployed under
      the publisher."}}, "acrManifestName": {"type": "string", "metadata": {"description":
      "Name of the manifest to deploy for the ACR-backed Artifact Store"}}}, "resources":
      [{"type": "Microsoft.HybridNetwork/publishers/artifactStores/artifactManifests",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''acrArtifactStoreName''), parameters(''acrManifestName''))]", "location":
      "[parameters(''location'')]", "properties": {"artifacts": [{"artifactName":
      "nginxdemo", "artifactType": "OCIArtifact", "artifactVersion": "0.1.0"}, {"artifactName":
      "nginx", "artifactType": "OCIArtifact", "artifactVersion": "stable"}]}}]}, "parameters":
      {"location": {"value": "uksouth"}, "publisherName": {"value": "automated-cli-test-nginx-publisher"},
      "acrArtifactStoreName": {"value": "nginx-acr"}, "acrManifestName": {"value":
      "nginx-acr-manifest-1-0-0"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cnf_nfd_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.Resources/deployments/AOSM_CLI_deployment_1715954391",
        "name": "AOSM_CLI_deployment_1715954391", "type": "Microsoft.Resources/deployments",
        "properties": {"templateHash": "14797403328055843136", "parameters": {"location":
        {"type": "String", "value": "uksouth"}, "publisherName": {"type": "String",
        "value": "automated-cli-test-nginx-publisher"}, "acrArtifactStoreName": {"type":
        "String", "value": "nginx-acr"}, "acrManifestName": {"type": "String", "value":
        "nginx-acr-manifest-1-0-0"}}, "mode": "Incremental", "provisioningState":
        "Succeeded", "timestamp": "2024-05-17T14:01:15.6574914Z", "duration": "PT1M23.1245443S",
        "correlationId": "afaeaf59-b0fa-4e43-9187-810d1f666a8f", "providers": [{"namespace":
        "Microsoft.HybridNetwork", "resourceTypes": [{"resourceType": "publishers/artifactStores/artifactManifests",
        "locations": ["uksouth"]}]}], "dependencies": [], "outputResources": [{"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher/artifactStores/nginx-acr/artifactManifests/nginx-acr-manifest-1-0-0"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cnf_nfd_000001/providers/Microsoft.HybridNetwork/publishers/automated-cli-test-nginx-publisher/artifactStores/nginx-acr/artifactManifests/nginx-acr-manifest-1-0-0/listCredential?api-version=2023-09-01
  response:
    body:
      string: '{"username": "nginx-acr-manifest-1-0-0", "acrToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "acrServerUrl": "https://automatedclitestnginxpublishernginxacr32d0b96a1e.azurecr.io",
        "repositories": ["nginxdemo", "nginx"], "expiry": "2024-05-18T14:01:25.9930617+00:00",
        "credentialType": "AzureContainerRegistryScopedToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02682.2890
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.26.54.24096", "templateHash": "13894353345379066482"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
      deploy the template"}}, "acrArtifactStoreName": {"type": "string", "metadata":
      {"description": "Name of an existing ACR-backed Artifact Store, deployed under
      the publisher."}}, "nfDefinitionGroup": {"type": "string", "metadata": {"description":
      "Name of an existing Network Function Definition Group"}}, "nfDefinitionVersion":
      {"type": "string", "metadata": {"description": "The version of the NFDV you
      want to deploy, in format A.B.C"}}}, "variables": {"$fxv#0": {"$schema": "https://json-schema.org/draft-07/schema#",
      "title": "DeployParametersSchema", "type": "object", "properties": {}}, "$fxv#1":
      {"replicaCount": 1, "image": {"repository": "overwriteme", "tag": "stable",
      "pullPolicy": "IfNotPresent"}, "imagePullSecrets": [], "nameOverride": "", "fullnameOverride":
      "", "serviceAccount": {"create": false, "name": null}, "podSecurityContext":
      {}, "securityContext": {}, "service": {"type": "ClusterIP", "port": 80}, "ingress":
      {"enabled": false, "annotations": {}, "hosts": [{"host": "chart-example.local",
      "paths": []}], "tls": []}, "resources": {}, "nodeSelector": {}, "tolerations":
      [], "affinity": {}}}, "resources": [{"type": "Microsoft.HybridNetwork/publishers/networkFunctionDefinitionGroups/networkFunctionDefinitionVersions",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''nfDefinitionGroup''), parameters(''nfDefinitionVersion''))]", "location":
      "[parameters(''location'')]", "properties": {"deployParameters": "[string(variables(''$fxv#0''))]",
      "networkFunctionType": "ContainerizedNetworkFunction", "networkFunctionTemplate":
      {"nfviType": "AzureArcKubernetes", "networkFunctionApplications": [{"artifactType":
      "HelmPackage", "name": "nginxdemo", "dependsOnProfile": {"installDependsOn":
      [], "uninstallDependsOn": [], "updateDependsOn": []}, "artifactProfile": {"artifactStore":
      {"id": "[resourceId(''Microsoft.HybridNetwork/publishers/artifactStores'', parameters(''publisherName''),
      parameters(''acrArtifactStoreName''))]"}, "helmArtifactProfile": {"helmPackageName":
      "nginxdemo", "helmPackageVersionRange": "0.1.0", "registryValuesPaths": [],
      "imagePullSecretsValuesPaths": []}}, "deployParametersMappingRuleProfile": {"applicationEnablement":
      "Enabled", "helmMappingRuleProfile": {"releaseNamespace": "nginxdemo", "releaseName":
      "nginxdemo", "helmPackageVersion": "0.1.0", "values": "[string(variables(''$fxv#1''))]"}}}]}}}]},
      "parameters": {"location": {"value": "uksouth"}, "publisherName": {"value":
      "automated-cli-test-nginx-publisher"}, "acrArtifactStoreName": {"value": "nginx-acr"},
      "nfDefinitionGroup": {"value": "nginx"}, "nfDefinitionVersion": {"value": "1.0.0"}},
      "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-0000000[...]
[...]
