interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Features/providers/Microsoft.HybridNetwork/features/Allow-2023-09-01?api-version=2021-07-01
  response:
    body:
      string: '{"properties": {"state": "Registered"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Features/providers/Microsoft.HybridNetwork/features/Allow-2023-09-01",
        "type": "Microsoft.Features/providers/features", "name": "Microsoft.HybridNetwork/Allow-2023-09-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Features/providers/Microsoft.HybridNetwork/features/Allow-Publisher?api-version=2021-07-01
  response:
    body:
      string: '{"properties": {"state": "Registered"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Features/providers/Microsoft.HybridNetwork/features/Allow-Publisher",
        "type": "Microsoft.Features/providers/features", "name": "Microsoft.HybridNetwork/Allow-Publisher"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001",
        "name": "cli_test_vnf_nsd_000001", "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus", "tags": {"product": "azurecli", "cause": "automation",
        "test": "test_vnf_nsd_publish_and_delete", "date": "2023-09-29T13:02:16Z",
        "module": "aosm", "autoDelete": "true", "expiresOn": "2023-10-29T13:02:17.4807938Z"},
        "properties": {"provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Private"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher?api-version=2023-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher",
        "name": "automated-tests-ubuntuPublisher", "type": "microsoft.hybridnetwork/publishers",
        "location": "westcentralus", "systemData": {"createdBy": "achurchard@microsoft.com",
        "createdByType": "User", "createdAt": "2023-09-29T13:02:21.0895683Z", "lastModifiedBy":
        "achurchard@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-09-29T13:02:21.0895683Z"}, "properties": {"scope": "Private", "provisioningState":
        "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.HybridNetwork/locations/WESTCENTRALUS/operationStatuses/bcebcab7-da89-45e9-b712-fff87ea4e7d6*22B0761B861385766689FF07D2CCD02E1FE84EDF430780253F2776A4B750B12B?api-version=2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"11006884-0000-0600-0000-6516cade0000"'
      x-ms-build-version:
      - 1.0.02458.1867
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.HybridNetwork/locations/WESTCENTRALUS/operationStatuses/bcebcab7-da89-45e9-b712-fff87ea4e7d6*22B0761B861385766689FF07D2CCD02E1FE84EDF430780253F2776A4B750B12B?api-version=2020-01-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.HybridNetwork/locations/WESTCENTRALUS/operationStatuses/bcebcab7-da89-45e9-b712-fff87ea4e7d6*22B0761B861385766689FF07D2CCD02E1FE84EDF430780253F2776A4B750B12B",
        "name": "bcebcab7-da89-45e9-b712-fff87ea4e7d6*22B0761B861385766689FF07D2CCD02E1FE84EDF430780253F2776A4B750B12B",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher",
        "status": "Accepted", "startTime": "2023-09-29T13:02:22.0772808Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0300c2a7-0000-0600-0000-6516cade0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-acr?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-acr''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westcentralus", "properties": {"storeType": "AzureContainerRegistry"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-acr?api-version=2023-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-acr",
        "name": "ubuntu-acr", "type": "microsoft.hybridnetwork/publishers/artifactstores",
        "location": "westcentralus", "systemData": {"createdBy": "achurchard@microsoft.com",
        "createdByType": "User", "createdAt": "2023-09-29T13:03:53.6890746Z", "lastModifiedBy":
        "achurchard@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-09-29T13:03:53.6890746Z"}, "properties": {"storeType": "AzureContainerRegistry",
        "managedResourceGroupConfiguration": {"location": "westcentralus", "name":
        "ubuntu-acr-HostedResources-3ED8BB37"}, "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.HybridNetwork/locations/WESTCENTRALUS/operationStatuses/c8bbe1d2-e07c-4be4-8bc4-984b0b2ce543*4BF3B763E17180B310F1CFC90AF8C7AD0D74D8042566213E2F45988291902F6E?api-version=2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"02003c50-0000-0600-0000-6516cb3a0000"'
      x-ms-build-version:
      - 1.0.02458.1867
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-acr?api-version=2023-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-acr",
        "name": "ubuntu-acr", "type": "microsoft.hybridnetwork/publishers/artifactstores",
        "location": "westcentralus", "systemData": {"createdBy": "achurchard@microsoft.com",
        "createdByType": "User", "createdAt": "2023-09-29T13:03:53.6890746Z", "lastModifiedBy":
        "achurchard@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-09-29T13:03:53.6890746Z"}, "properties": {"storeType": "AzureContainerRegistry",
        "replicationStrategy": "SingleReplication", "managedResourceGroupConfiguration":
        {"name": "ubuntu-acr-HostedResources-3ED8BB37", "location": "westcentralus"},
        "provisioningState": "Succeeded", "storageResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ubuntu-acr-HostedResources-3ED8BB37/providers/Microsoft.ContainerRegistry/registries/AutomatedTestsUbuntupublisherUbuntuAcr2aa06cf963"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"02007150-0000-0600-0000-6516cb8c0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-blob-store?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-blob-store''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg?api-version=2023-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg",
        "name": "ubuntu-vm-nfdg", "type": "microsoft.hybridnetwork/publishers/networkfunctiondefinitiongroups",
        "location": "westcentralus", "systemData": {"createdBy": "achurchard@microsoft.com",
        "createdByType": "User", "createdAt": "2023-09-29T13:08:55.6329741Z", "lastModifiedBy":
        "achurchard@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-09-29T13:08:55.6329741Z"}, "properties": {"description": null, "provisioningState":
        "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6e003c3f-0000-0600-0000-6516cc720000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0?api-version=2023-09-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.15.31.15270", "templateHash": "17482952888473992305"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
      deploy the template"}}, "acrArtifactStoreName": {"type": "string", "metadata":
      {"description": "Name of an existing ACR-backed Artifact Store, deployed under
      the publisher."}}, "saArtifactStoreName": {"type": "string", "metadata": {"description":
      "Name of an existing Storage Account-backed Artifact Store, deployed under the
      publisher."}}, "acrManifestName": {"type": "string", "metadata": {"description":
      "Name of the manifest to deploy for the ACR-backed Artifact Store"}}, "saManifestName":
      {"type": "string", "metadata": {"description": "Name of the manifest to deploy
      for the Storage Account-backed Artifact Store"}}, "nfName": {"type": "string",
      "metadata": {"description": "Name of Network Function. Used predominantly as
      a prefix for other variable names"}}, "vhdVersion": {"type": "string", "metadata":
      {"description": "The version that you want to name the NFM VHD artifact, in
      format A-B-C. e.g. 6-13-0"}}, "armTemplateVersion": {"type": "string", "metadata":
      {"description": "The name under which to store the ARM template"}}}, "resources":
      [{"type": "Microsoft.Hybridnetwork/publishers/artifactStores/artifactManifests",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''saArtifactStoreName''), parameters(''saManifestName''))]", "location":
      "[parameters(''location'')]", "properties": {"artifacts": [{"artifactName":
      "[format(''{0}-vhd'', parameters(''nfName''))]", "artifactType": "VhdImageFile",
      "artifactVersion": "[parameters(''vhdVersion'')]"}]}}, {"type": "Microsoft.Hybridnetwork/publishers/artifactStores/artifactManifests",
      "apiVersion": "2023-09-01", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''acrArtifactStoreName''), parameters(''acrManifestName''))]", "location":
      "[parameters(''location'')]", "properties": {"artifacts": [{"artifactName":
      "[format(''{0}-arm-template'', parameters(''nfName''))]", "artifactType": "ArmTemplate",
      "artifactVersion": "[parameters(''armTemplateVersion'')]"}]}}]}, "parameters":
      {"location": {"value": "westcentralus"}, "publisherName": {"value": "automated-tests-ubuntuPublisher"},
      "acrArtifactStoreName": {"value": "ubuntu-acr"}, "saArtifactStoreName": {"value":
      "ubuntu-blob-store"}, "acrManifestName": {"value": "ubuntu-vm-acr-manifest-1-0-0"},
      "saManifestName": {"value": "ubuntu-vm-sa-manifest-1-0-0"}, "nfName": {"value":
      "ubuntu-vm"}, "vhdVersion": {"value": "1-0-0"}, "armTemplateVersion": {"value":
      "1.0.0"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/AOSM_CLI_deployment_1695993034",
        "name": "AOSM_CLI_deployment_1695993034", "type": "Microsoft.Resources/deployments",
        "properties": {"templateHash": "17482952888473992305", "parameters": {"location":
        {"type": "String", "value": "westcentralus"}, "publisherName": {"type": "String",
        "value": "automated-tests-ubuntuPublisher"}, "acrArtifactStoreName": {"type":
        "String", "value": "ubuntu-acr"}, "saArtifactStoreName": {"type": "String",
        "value": "ubuntu-blob-store"}, "acrManifestName": {"type": "String", "value":
        "ubuntu-vm-acr-manifest-1-0-0"}, "saManifestName": {"type": "String", "value":
        "ubuntu-vm-sa-manifest-1-0-0"}, "nfName": {"type": "String", "value": "ubuntu-vm"},
        "vhdVersion": {"type": "String", "value": "1-0-0"}, "armTemplateVersion":
        {"type": "String", "value": "1.0.0"}}, "mode": "Incremental", "provisioningState":
        "Succeeded", "timestamp": "0001-01-01T00:00:00Z", "duration": "PT0S", "correlationId":
        "e1af003b-4410-46af-81e8-ae2e1fce080a", "providers": [{"namespace": "Microsoft.Hybridnetwork",
        "resourceTypes": [{"resourceType": "publishers/artifactStores/artifactManifests",
        "locations": ["westcentralus"]}]}], "dependencies": [], "validatedResources":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Hybridnetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0"},
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Hybridnetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.15.31.15270", "templateHash": "17482952888473992305"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where y[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585056138458093895?api-version=2022-09-01
  response:
    body:
      string: '{"status": "Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0?api-version=2023-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Hybridnetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0",
        "name": "ubuntu-vm-sa-manifest-1-0-0", "type": "microsoft.hybridnetwork/publishers/artifactstores/artifactmanifests",
        "location": "westcentralus", "systemData": {"createdBy": "achurchard@microsoft.com",
        "createdByType": "User", "createdAt": "2023-09-29T13:10:44.781783Z", "lastModifiedBy":
        "achurchard@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-09-29T13:10:44.781783Z"}, "properties": {"artifacts": [{"artifactName":
        "ubuntu-vm-vhd", "artifactType": "VhdImageFile", "artifactVersion": "1-0-0"}],
        "artifactManifestState": "Uploading", "provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"090088f2-0000-0600-0000-6516ccdb0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0/listCredential?api-version=2023-09-01
  response:
    body:
      string: '{"storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ubuntu-blob-store-HostedResources-7D2617CD/providers/Microsoft.Storage/storageAccounts/7d2617cdubuntublobstoreb",
        "containerCredentials": [{"containerName": "ubuntuvmvhd-1-0-0", "containerSasUri":
        "https://xxxxxxxxxxxxxxx.blob.core.windows.net/ubuntuvmvhd-1-0-0?sv=2021-08-06&si=StorageAccountAccessPolicy&sr=xxxxxxxxxxxxxxxxxxxx"}],
        "expiry": "2023-09-30T13:11:13.5606532+00:00", "credentialType": "AzureStorageAccountToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02458.1867
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/automated-tests-ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0/listCredential?api-version=2023-09-01
  response:
    body:
      string: '{"username": "ubuntu-vm-acr-manifest-1-0-0", "acrToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "acrServerUrl": "https://automatedtestsubuntupublisherubuntuacr2aa06cf963.azurecr.io",
        "repositories": ["ubuntu-vm-arm-template"], "expiry": "2023-09-30T13:11:14.6324001+00:00",
        "credentialType": "AzureContainerRegistryScopedToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02458.1867
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '512'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 29 Sep 2023 13:11:14 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://xxxxxxxxxxxxxxx.blob.core.windows.net/ubuntuvmvhd-1-0-0/ubuntuvm-1-0-0.vhd?sv=2021-08-06&si=StorageAccountAccessPolicy&sr=xxxxxxxxxxxxxxxxxxxx
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBC0ED8FEDEEC5"'
      last-modified:
      - Fri, 29 Sep 2023 13:11:15 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: "61 38 6b 92 16 4b cc ac 6f d4 02 5c 6f 62 79 b9 \n8e 62 ae 07 02 1c dc
      73 5b 7a 51 e7 56 4e 4a b0 \n54 4a 93 2e 6b dd 3c b5 8b 60 fa 80 b1 80 1b 89
      \n1e 4d 7d 86 8e 25 76 58 24 8d 21 87 83 06 88 d6 \na4 fd 94 9c 66 b6 db ee
      92 46 f0 25 fc 84 bb f5 \n3f d9 49 28 ea 54 6a 2a 33 fa e0 47 eb 22 af 91 \nd4
      34 a6 d9 fe 58 cb 54 03 35 d6 45 40 96 4e f3 \n31 ea 78 20 45 e9 f2 3a de cb
      38 53 c0 9c b2 b7 \n12 9e 57 d9 f6 1b cb 20 23 8c 86 d3 40 da 84 c3 \n22 5b
      48 61 63 e2 5f 5f 43 6d 8f 41 fc ce c1 87 \n33 e1 e2 61 63 e2 5f 5"
    headers:
      Content-Type:
      - application/octet-stream
      If-Match:
      - '"0x8DBC0ED8FEDEEC5"'
      x-ms-date:
      - Fri, 29 Sep 2023 13:11:15 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://xxxxxxxxxxxxxxx.blob.core.windows.net/ubuntuvmvhd-1-0-0/ubuntuvm-1-0-0.vhd?comp=page&sv=2021-08-06&si=StorageAccountAccessPolicy&sr=xxxxxxxxxxxxxxxxxxxx
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBC0ED9006A34D"'
      last-modified:
      - Fri, 29 Sep 2023 13:11:15 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-content-crc64:
      - iWvWqElPrJg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://automatedtestsubuntupublisherubuntuacr2aa06cf963.azurecr.io/v2/ubuntu-vm-arm-template/blobs/uploads/
  response:
    body:
      string: '{"errors": [{"code": "UNAUTHORIZED", "message": "authentication required,
        visit https://aka.ms/acr/authorization for more information.", "detail": [{"Type":
        "repository", "Name": "ubuntu-vm-arm-template", "Action": "pull"}, {"Type":
        "repository", "Name": "ubuntu-vm-arm-template", "Action": "push"}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      docker-distribution-api-version:
      - registry/2.0
      www-authenticate:
      - Bearer realm="https://automatedtestsubuntupublisherubuntuacr2aa06cf963.azurecr.io/oauth2/token",service="automatedtestsubuntupublisherubuntuacr2aa06cf963.azurecr.io",scope="repository:ubuntu-vm-arm-template:pull,push"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Service:
      - automatedtestsubuntupublisherubuntuacr2aa06cf963.azurecr.io
    method: GET
    uri: https://automatedtestsubuntupublisherubuntuacr2aa06cf963.azurecr.io/oauth2/token?service=automatedtestsubuntupublisherubuntuacr2aa06cf963.azurecr.io&scope=repository%3Aubuntu-vm-arm-template%3Apull%2Cpush
  response:
    body:
      string: '{"access_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second:
      - '333.316667'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
    method: POST
[...]
