interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001",
        "name": "cli_test_vnf_nsd_000001", "type": "Microsoft.Resources/resourceGroups",
        "location": "northeurope", "tags": {"product": "azurecli", "cause": "automation",
        "test": "test_vnf_nsd_publish_and_delete", "date": "2023-07-31T11:27:22Z",
        "module": "aosm", "autoDelete": "true", "expiresOn": "2023-08-30T11:27:21.8745414Z"},
        "properties": {"provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisher''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Private"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher",
        "name": "ubuntuPublisher", "type": "microsoft.hybridnetwork/publishers", "location":
        "northeurope", "systemData": {"createdBy": "patrykkulik@microsoft.com", "createdByType":
        "User", "createdAt": "2023-07-31T11:27:22.8341362Z", "lastModifiedBy": "patrykkulik@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-07-31T11:27:22.8341362Z"},
        "properties": {"scope": "Private", "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.HybridNetwork/locations/NORTHEUROPE/operationStatuses/08e5c561-8def-485f-8472-e7130639bd6f*F791E62B33C7D312F3E8CD14C7D879B373F87E4429D79B9DA540320DF4FC7EA7?api-version=2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4f007744-0000-0c00-0000-64c79a9b0000"'
      x-ms-build-version:
      - 1.0.02386.1640
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.HybridNetwork/locations/NORTHEUROPE/operationStatuses/08e5c561-8def-485f-8472-e7130639bd6f*F791E62B33C7D312F3E8CD14C7D879B373F87E4429D79B9DA540320DF4FC7EA7?api-version=2020-01-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.HybridNetwork/locations/NORTHEUROPE/operationStatuses/08e5c561-8def-485f-8472-e7130639bd6f*F791E62B33C7D312F3E8CD14C7D879B373F87E4429D79B9DA540320DF4FC7EA7",
        "name": "08e5c561-8def-485f-8472-e7130639bd6f*F791E62B33C7D312F3E8CD14C7D879B373F87E4429D79B9DA540320DF4FC7EA7",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher",
        "status": "Accepted", "startTime": "2023-07-31T11:27:23.5403736Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2900cf79-0000-0c00-0000-64c79a9b0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "northeurope", "properties": {"storeType": "AzureContainerRegistry"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr",
        "name": "ubuntu-acr", "type": "microsoft.hybridnetwork/publishers/artifactstores",
        "location": "northeurope", "systemData": {"createdBy": "patrykkulik@microsoft.com",
        "createdByType": "User", "createdAt": "2023-07-31T11:28:53.8178173Z", "lastModifiedBy":
        "patrykkulik@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-07-31T11:28:53.8178173Z"}, "properties": {"storeType": "AzureContainerRegistry",
        "managedResourceGroupConfiguration": {"location": "northeurope", "name": "ubuntu-acr-HostedResources-43C4B0F9"},
        "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.HybridNetwork/locations/NORTHEUROPE/operationStatuses/548cf9d1-12e5-4e57-a755-da03428faa12*FF62BE6B20755CBFC66988D4CB66468BAE2075697ABB6AAF9EB14196611A357B?api-version=2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"49007435-0000-0c00-0000-64c79af60000"'
      x-ms-build-version:
      - 1.0.02386.1640
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr",
        "name": "ubuntu-acr", "type": "microsoft.hybridnetwork/publishers/artifactstores",
        "location": "northeurope", "systemData": {"createdBy": "patrykkulik@microsoft.com",
        "createdByType": "User", "createdAt": "2023-07-31T11:28:53.8178173Z", "lastModifiedBy":
        "patrykkulik@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-07-31T11:28:53.8178173Z"}, "properties": {"storeType": "AzureContainerRegistry",
        "replicationStrategy": "SingleReplication", "managedResourceGroupConfiguration":
        {"name": "ubuntu-acr-HostedResources-43C4B0F9", "location": "northeurope"},
        "provisioningState": "Succeeded", "storageResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ubuntu-acr-HostedResources-43C4B0F9/providers/Microsoft.ContainerRegistry/registries/UbuntupublisherUbuntuAcr44004b2a3f"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"49009b35-0000-0c00-0000-64c79b590000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg",
        "name": "ubuntu-vm-nfdg", "type": "microsoft.hybridnetwork/publishers/networkfunctiondefinitiongroups",
        "location": "northeurope", "systemData": {"createdBy": "patrykkulik@microsoft.com",
        "createdByType": "User", "createdAt": "2023-07-31T11:33:52.5659954Z", "lastModifiedBy":
        "patrykkulik@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-07-31T11:33:52.5659954Z"}, "properties": {"description": null, "provisioningState":
        "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2a01568f-0000-0c00-0000-64c79c290000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.8.9.13224", "templateHash": "6414151573583976606"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
      deploy the template"}}, "acrArtifactStoreName": {"type": "string", "metadata":
      {"description": "Name of an existing ACR-backed Artifact Store, deployed under
      the publisher."}}, "saArtifactStoreName": {"type": "string", "metadata": {"description":
      "Name of an existing Storage Account-backed Artifact Store, deployed under the
      publisher."}}, "acrManifestName": {"type": "string", "metadata": {"description":
      "Name of the manifest to deploy for the ACR-backed Artifact Store"}}, "saManifestName":
      {"type": "string", "metadata": {"description": "Name of the manifest to deploy
      for the Storage Account-backed Artifact Store"}}, "nfName": {"type": "string",
      "metadata": {"description": "Name of Network Function. Used predominantly as
      a prefix for other variable names"}}, "vhdVersion": {"type": "string", "metadata":
      {"description": "The version that you want to name the NFM VHD artifact, in
      format A-B-C. e.g. 6-13-0"}}, "armTemplateVersion": {"type": "string", "metadata":
      {"description": "The name under which to store the ARM template"}}}, "resources":
      [{"type": "Microsoft.Hybridnetwork/publishers/artifactStores/artifactManifests",
      "apiVersion": "2023-04-01-preview", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''saArtifactStoreName''), parameters(''saManifestName''))]", "location":
      "[parameters(''location'')]", "properties": {"artifacts": [{"artifactName":
      "[format(''{0}-vhd'', parameters(''nfName''))]", "artifactType": "VhdImageFile",
      "artifactVersion": "[parameters(''vhdVersion'')]"}]}}, {"type": "Microsoft.Hybridnetwork/publishers/artifactStores/artifactManifests",
      "apiVersion": "2023-04-01-preview", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''acrArtifactStoreName''), parameters(''acrManifestName''))]", "location":
      "[parameters(''location'')]", "properties": {"artifacts": [{"artifactName":
      "[format(''{0}-arm-template'', parameters(''nfName''))]", "artifactType": "ArmTemplate",
      "artifactVersion": "[parameters(''armTemplateVersion'')]"}]}}]}, "parameters":
      {"location": {"value": "northeurope"}, "publisherName": {"value": "ubuntuPublisher"},
      "acrArtifactStoreName": {"value": "ubuntu-acr"}, "saArtifactStoreName": {"value":
      "ubuntu-blob-store"}, "acrManifestName": {"value": "ubuntu-vm-acr-manifest-1-0-0"},
      "saManifestName": {"value": "ubuntu-vm-sa-manifest-1-0-0"}, "nfName": {"value":
      "ubuntu-vm"}, "vhdVersion": {"value": "1-0-0"}, "armTemplateVersion": {"value":
      "1.0.0"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/AOSM_CLI_deployment_1690803334",
        "name": "AOSM_CLI_deployment_1690803334", "type": "Microsoft.Resources/deployments",
        "properties": {"templateHash": "6414151573583976606", "parameters": {"location":
        {"type": "String", "value": "northeurope"}, "publisherName": {"type": "String",
        "value": "ubuntuPublisher"}, "acrArtifactStoreName": {"type": "String", "value":
        "ubuntu-acr"}, "saArtifactStoreName": {"type": "String", "value": "ubuntu-blob-store"},
        "acrManifestName": {"type": "String", "value": "ubuntu-vm-acr-manifest-1-0-0"},
        "saManifestName": {"type": "String", "value": "ubuntu-vm-sa-manifest-1-0-0"},
        "nfName": {"type": "String", "value": "ubuntu-vm"}, "vhdVersion": {"type":
        "String", "value": "1-0-0"}, "armTemplateVersion": {"type": "String", "value":
        "1.0.0"}}, "mode": "Incremental", "provisioningState": "Succeeded", "timestamp":
        "0001-01-01T00:00:00Z", "duration": "PT0S", "correlationId": "77c07a42-41ba-401d-bfa1-435b9017caf8",
        "providers": [{"namespace": "Microsoft.Hybridnetwork", "resourceTypes": [{"resourceType":
        "publishers/artifactStores/artifactManifests", "locations": ["northeurope"]}]}],
        "dependencies": [], "validatedResources": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Hybridnetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0"},
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Hybridnetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.8.9.13224", "templateHash": "6414151573583976606"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585108035515859758?api-version=2022-09-01
  response:
    body:
      string: '{"status": "Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.8.9.13224", "templateHash": "9578888424119431564"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
      deploy the template"}}, "acrArtifactStoreName": {"type": "string", "metadata":
      {"description": "Name of an existing ACR-backed Artifact Store, deployed under
      the publisher."}}, "saArtifactStoreName": {"type": "string", "metadata": {"description":
      "Name of an existing Storage Account-backed Artifact Store, deployed under the
      publisher."}}, "nfName": {"type": "string", "metadata": {"description": "Name
      of Network Function. Used predominantly as a prefix for other variable names"}},
      "nfDefinitionGroup": {"type": "string", "metadata": {"description": "Name of
      an existing Network Function Definition Group"}}, "nfDefinitionVersion": {"type":
      "string", "metadata": {"description": "The version of the NFDV you want to deploy,
      in format A-B-C"}}, "vhdVersion": {"type": "string", "metadata": {"description":
      "The version that you want to name the NFM VHD artifact, in format A-B-C. e.g.
      6-13-0"}}, "armTemplateVersion": {"type": "string", "metadata": {"description":
      "The version that you want to name the NFM template artifact, in format A.B.C.
      e.g. 6.13.0. If testing for development, you can use any numbers you like."}}},
      "variables": {"$fxv#0": {"$schema": "https://json-schema.org/draft-07/schema#",
      "title": "DeployParametersSchema", "type": "object", "properties": {"location":
      {"type": "string"}, "subnetName": {"type": "string"}, "ubuntuVmName": {"type":
      "string"}, "virtualNetworkId": {"type": "string"}, "sshPublicKeyAdmin": {"type":
      "string"}}}, "$fxv#1": {"imageName": "ubuntu-vmImage", "azureDeployLocation":
      "{deployParameters.location}"}, "$fxv#2": {"location": "{deployParameters.location}",
      "subnetName": "{deployParameters.subnetName}", "ubuntuVmName": "{deployParameters.ubuntuVmName}",
      "virtualNetworkId": "{deployParameters.virtualNetworkId}", "sshPublicKeyAdmin":
      "{deployParameters.sshPublicKeyAdmin}", "imageName": "ubuntu-vmImage"}}, "resources":
      [{"type": "Microsoft.Hybridnetwork/publishers/networkfunctiondefinitiongroups/networkfunctiondefinitionversions",
      "apiVersion": "2023-04-01-preview", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''nfDefinitionGroup''), parameters(''nfDefinitionVersion''))]", "location":
      "[parameters(''location'')]", "properties": {"versionState": "Preview", "deployParameters":
      "[string(variables(''$fxv#0''))]", "networkFunctionType": "VirtualNetworkFunction",
      "networkFunctionTemplate": {"nfviType": "AzureCore", "networkFunctionApplications":
      [{"artifactType": "VhdImageFile", "name": "[format(''{0}Image'', parameters(''nfName''))]",
      "dependsOnProfile": null, "artifactProfile": {"vhdArtifactProfile": {"vhdName":
      "[format(''{0}-vhd'', parameters(''nfName''))]", "vhdVersion": "[parameters(''vhdVersion'')]"},
      "artifactStore": {"id": "[resourceId(''Microsoft.HybridNetwork/publishers/artifactStores'',
      parameters(''publisherName''), parameters(''saArtifactStoreName''))]"}}, "deployParametersMappingRuleProfile":
      {"vhdImageMappingRuleProfile": {"userConfiguration": "[string(variables(''$fxv#1''))]"},
      "applicationEnablement": "Unknown"}}, {"artifactType": "ArmTemplate", "name":
      "[parameters(''nfName'')]", "dependsOnProfile": null, "artifactProfile": {"templateArtifactProfile":
      {"templateName": "[format(''{0}-arm-template'', parameters(''nfName''))]", "templateVersion":
      "[parameters(''armTemplateVersion'')]"}, "artifactStore": {"id": "[resourceId(''Microsoft.HybridNetwork/publishers/artifactStores'',
      parameters(''publisherName''), parameters(''acrArtifactStoreName''))]"}}, "deployParametersMappingRuleProfile":
      {"templateMappingRuleProfile": {"templateParameters": "[string(variables(''$fxv#2''))]"},
      "applicationEnablement": "Unknown"}}]}}}]}, "parameters": {"location": {"value":
      "northeurope"}, "publisherName": {"value": "ubuntuPublisher"}, "acrArtifactStoreName":
      {"value": "ubuntu-acr"}, "saArtifactStoreName": {"value": "ubuntu-blob-store"},
      "nfName": {"value": "ubuntu-vm"}, "nfDefinitionGroup": {"value": "ubuntu-vm-nfdg"},
      "nfDefinitionVersion": {"value": "1.0.0"}, "vhdVersion": {"value": "1-0-0"},
      "armTemplateVersio[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Hybridnetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0",
        "name": "ubuntu-vm-sa-manifest-1-0-0", "type": "microsoft.hybridnetwork/publishers/artifactstores/artifactmanifests",
        "location": "northeurope", "systemData": {"createdBy": "patrykkulik@microsoft.com",
        "createdByType": "User", "createdAt": "2023-07-31T11:35:35.6410976Z", "lastModifiedBy":
        "patrykkulik@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-07-31T11:35:35.6410976Z"}, "properties": {"artifacts": [{"artifactName":
        "ubuntu-vm-vhd", "artifactType": "VhdImageFile", "artifactVersion": "1-0-0"}],
        "artifactManifestState": "Uploading", "provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a3000c76-0000-0c00-0000-64c79c8c0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0/listCredential?api-version=2023-04-01-preview
  response:
    body:
      string: '{"storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ubuntu-blob-store-HostedResources-197417F9/providers/Microsoft.Storage/storageAccounts/197417f9ubuntublobstore3",
        "containerCredentials": [{"containerName": "ubuntuvmvhd-1-0-0", "containerSasUri":
        "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}],
        "expiry": "2023-08-01T11:37:39.1784893+00:00", "credentialType": "AzureStorageAccountToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02386.1640
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0/listCredential?api-version=2023-04-01-preview
  response:
    body:
      string: '{"username": "ubuntu-vm-acr-manifest-1-0-0", "acrToken": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
        "acrServerUrl": "https://ubuntupublisherubuntuacr44004b2a3f.azurecr.io", "repositories":
        ["ubuntu-vm-arm-template"], "expiry": "2023-08-01T11:37:39.5637556+00:00",
        "credentialType": "AzureContainerRegistryScopedToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02386.1640
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg/networkFunctionDefinitionVersions/1.0.0?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/pr[...]
[...]
- request:
    body: '{"location": "northeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/networkServiceDesignGroups/ubuntu?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
