interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001",
        "name": "cli_test_vnf_nsd_000001", "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth", "tags": {"product": "azurecli", "cause": "automation",
        "test": "test_vnf_nsd_publish_and_delete", "date": "2023-08-22T11:46:47Z",
        "module": "aosm", "autoDelete": "true", "expiresOn": "2023-09-21T11:46:47.5498974Z"},
        "properties": {"provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisherTest''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Private"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest",
        "name": "ubuntuPublisherTest", "type": "microsoft.hybridnetwork/publishers",
        "location": "uksouth", "systemData": {"createdBy": "patrykkulik@microsoft.com",
        "createdByType": "User", "createdAt": "2023-08-22T11:46:49.0441484Z", "lastModifiedBy":
        "patrykkulik@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-08-22T11:46:49.0441484Z"}, "properties": {"scope": "Private", "provisioningState":
        "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.HybridNetwork/locations/UKSOUTH/operationStatuses/7c3626ce-d74b-48d1-824a-974b0859f0bb*789E4112933DD7F7C6CF73C3FCF52646C611D9D7157F0D595170253BA71AD7A8?api-version=2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"20000cfb-0000-1100-0000-64e4a02a0000"'
      x-ms-build-version:
      - 1.0.02386.1640
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.HybridNetwork/locations/UKSOUTH/operationStatuses/7c3626ce-d74b-48d1-824a-974b0859f0bb*789E4112933DD7F7C6CF73C3FCF52646C611D9D7157F0D595170253BA71AD7A8?api-version=2020-01-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.HybridNetwork/locations/UKSOUTH/operationStatuses/7c3626ce-d74b-48d1-824a-974b0859f0bb*789E4112933DD7F7C6CF73C3FCF52646C611D9D7157F0D595170253BA71AD7A8",
        "name": "7c3626ce-d74b-48d1-824a-974b0859f0bb*789E4112933DD7F7C6CF73C3FCF52646C611D9D7157F0D595170253BA71AD7A8",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest",
        "status": "Accepted", "startTime": "2023-08-22T11:46:50.2504604Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"020063db-0000-1100-0000-64e4a02a0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-acr-test?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-acr-test''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "uksouth", "properties": {"storeType": "AzureContainerRegistry"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-acr-test?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-acr-test",
        "name": "ubuntu-acr-test", "type": "microsoft.hybridnetwork/publishers/artifactstores",
        "location": "uksouth", "systemData": {"createdBy": "patrykkulik@microsoft.com",
        "createdByType": "User", "createdAt": "2023-08-22T11:48:22.4917073Z", "lastModifiedBy":
        "patrykkulik@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-08-22T11:48:22.4917073Z"}, "properties": {"storeType": "AzureContainerRegistry",
        "managedResourceGroupConfiguration": {"location": "uksouth", "name": "ubuntu-acr-test-HostedResources-2B8A0B84"},
        "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.HybridNetwork/locations/UKSOUTH/operationStatuses/08402bd7-d7c9-4a63-af40-ba2b32e41fc6*1BCF21B56B357BD0EA74878F0B358D4D7C9F4A93389D535FAC17FC587DBC6363?api-version=2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0e00304d-0000-1100-0000-64e4a0880000"'
      x-ms-build-version:
      - 1.0.02386.1640
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-acr-test?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-acr-test",
        "name": "ubuntu-acr-test", "type": "microsoft.hybridnetwork/publishers/artifactstores",
        "location": "uksouth", "systemData": {"createdBy": "patrykkulik@microsoft.com",
        "createdByType": "User", "createdAt": "2023-08-22T11:48:22.4917073Z", "lastModifiedBy":
        "patrykkulik@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-08-22T11:48:22.4917073Z"}, "properties": {"storeType": "AzureContainerRegistry",
        "replicationStrategy": "SingleReplication", "managedResourceGroupConfiguration":
        {"name": "ubuntu-acr-test-HostedResources-2B8A0B84", "location": "uksouth"},
        "provisioningState": "Succeeded", "storageResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ubuntu-acr-test-HostedResources-2B8A0B84/providers/Microsoft.ContainerRegistry/registries/UbuntupublishertestUbuntuAcrTest5bcb468ef3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0e00f34e-0000-1100-0000-64e4a0ee0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-blob-store?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-blob-store''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/networkFunctionDefinitionGroups/ubuntu-vm-nfdg?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/networkFunctionDefinitionGroups/ubuntu-vm-nfdg''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/networkFunctionDefinitionGroups/ubuntu-vm-nfdg?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/networkFunctionDefinitionGroups/ubuntu-vm-nfdg",
        "name": "ubuntu-vm-nfdg", "type": "microsoft.hybridnetwork/publishers/networkfunctiondefinitiongroups",
        "location": "uksouth", "systemData": {"createdBy": "patrykkulik@microsoft.com",
        "createdByType": "User", "createdAt": "2023-08-22T11:53:30.2757732Z", "lastModifiedBy":
        "patrykkulik@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-08-22T11:53:30.2757732Z"}, "properties": {"description": null, "provisioningState":
        "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2100b8b8-0000-1100-0000-64e4a1c60000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-acr-test/artifactManifests/ubuntu-vm-acr-manifest-1-0-0?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-acr-test/artifactManifests/ubuntu-vm-acr-manifest-1-0-0''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0''
        under resource group ''cli_test_vnf_nsd_000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.8.9.13224", "templateHash": "6414151573583976606"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
      deploy the template"}}, "acrArtifactStoreName": {"type": "string", "metadata":
      {"description": "Name of an existing ACR-backed Artifact Store, deployed under
      the publisher."}}, "saArtifactStoreName": {"type": "string", "metadata": {"description":
      "Name of an existing Storage Account-backed Artifact Store, deployed under the
      publisher."}}, "acrManifestName": {"type": "string", "metadata": {"description":
      "Name of the manifest to deploy for the ACR-backed Artifact Store"}}, "saManifestName":
      {"type": "string", "metadata": {"description": "Name of the manifest to deploy
      for the Storage Account-backed Artifact Store"}}, "nfName": {"type": "string",
      "metadata": {"description": "Name of Network Function. Used predominantly as
      a prefix for other variable names"}}, "vhdVersion": {"type": "string", "metadata":
      {"description": "The version that you want to name the NFM VHD artifact, in
      format A-B-C. e.g. 6-13-0"}}, "armTemplateVersion": {"type": "string", "metadata":
      {"description": "The name under which to store the ARM template"}}}, "resources":
      [{"type": "Microsoft.Hybridnetwork/publishers/artifactStores/artifactManifests",
      "apiVersion": "2023-04-01-preview", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''saArtifactStoreName''), parameters(''saManifestName''))]", "location":
      "[parameters(''location'')]", "properties": {"artifacts": [{"artifactName":
      "[format(''{0}-vhd'', parameters(''nfName''))]", "artifactType": "VhdImageFile",
      "artifactVersion": "[parameters(''vhdVersion'')]"}]}}, {"type": "Microsoft.Hybridnetwork/publishers/artifactStores/artifactManifests",
      "apiVersion": "2023-04-01-preview", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''acrArtifactStoreName''), parameters(''acrManifestName''))]", "location":
      "[parameters(''location'')]", "properties": {"artifacts": [{"artifactName":
      "[format(''{0}-arm-template'', parameters(''nfName''))]", "artifactType": "ArmTemplate",
      "artifactVersion": "[parameters(''armTemplateVersion'')]"}]}}]}, "parameters":
      {"location": {"value": "uksouth"}, "publisherName": {"value": "ubuntuPublisherTest"},
      "acrArtifactStoreName": {"value": "ubuntu-acr-test"}, "saArtifactStoreName":
      {"value": "ubuntu-blob-store"}, "acrManifestName": {"value": "ubuntu-vm-acr-manifest-1-0-0"},
      "saManifestName": {"value": "ubuntu-vm-sa-manifest-1-0-0"}, "nfName": {"value":
      "ubuntu-vm"}, "vhdVersion": {"value": "1-0-0"}, "armTemplateVersion": {"value":
      "1.0.0"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/AOSM_CLI_deployment_1692705309",
        "name": "AOSM_CLI_deployment_1692705309", "type": "Microsoft.Resources/deployments",
        "properties": {"templateHash": "6414151573583976606", "parameters": {"location":
        {"type": "String", "value": "uksouth"}, "publisherName": {"type": "String",
        "value": "ubuntuPublisherTest"}, "acrArtifactStoreName": {"type": "String",
        "value": "ubuntu-acr-test"}, "saArtifactStoreName": {"type": "String", "value":
        "ubuntu-blob-store"}, "acrManifestName": {"type": "String", "value": "ubuntu-vm-acr-manifest-1-0-0"},
        "saManifestName": {"type": "String", "value": "ubuntu-vm-sa-manifest-1-0-0"},
        "nfName": {"type": "String", "value": "ubuntu-vm"}, "vhdVersion": {"type":
        "String", "value": "1-0-0"}, "armTemplateVersion": {"type": "String", "value":
        "1.0.0"}}, "mode": "Incremental", "provisioningState": "Succeeded", "timestamp":
        "0001-01-01T00:00:00Z", "duration": "PT0S", "correlationId": "81554f4d-1b90-49bd-8bd2-64800cf5ee9b",
        "providers": [{"namespace": "Microsoft.Hybridnetwork", "resourceTypes": [{"resourceType":
        "publishers/artifactStores/artifactManifests", "locations": ["uksouth"]}]}],
        "dependencies": [], "validatedResources": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Hybridnetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0"},
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Hybridnetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-acr-test/artifactManifests/ubuntu-vm-acr-manifest-1-0-0"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.8.9.13224", "templateHash": "6414151573583976606"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vnf_nsd_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585089015745891693?api-version=2022-09-01
  response:
    body:
      string: '{"status": "Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.8.9.13224", "templateHash": "1529388553420138916"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
      deploy the template"}}, "acrArtifactStoreName": {"type": "string", "metadata":
      {"description": "Name of an existing ACR-backed Artifact Store, deployed under
      the publisher."}}, "saArtifactStoreName": {"type": "string", "metadata": {"description":
      "Name of an existing Storage Account-backed Artifact Store, deployed under the
      publisher."}}, "nfName": {"type": "string", "metadata": {"description": "Name
      of Network Function. Used predominantly as a prefix for other variable names"}},
      "nfDefinitionGroup": {"type": "string", "metadata": {"description": "Name of
      an existing Network Function Definition Group"}}, "nfDefinitionVersion": {"type":
      "string", "metadata": {"description": "The version of the NFDV you want to deploy,
      in format A.B.C"}}, "vhdVersion": {"type": "string", "metadata": {"description":
      "The version that you want to name the NFM VHD artifact, in format A-B-C. e.g.
      6-13-0"}}, "armTemplateVersion": {"type": "string", "metadata": {"description":
      "The version that you want to name the NFM template artifact, in format A.B.C.
      e.g. 6.13.0. If testing for development, you can use any numbers you like."}}},
      "variables": {"$fxv#0": {"$schema": "https://json-schema.org/draft-07/schema#",
      "title": "DeployParametersSchema", "type": "object", "properties": {"location":
      {"type": "string"}, "subnetName": {"type": "string"}, "ubuntuVmName": {"type":
      "string"}, "virtualNetworkId": {"type": "string"}, "sshPublicKeyAdmin": {"type":
      "string"}}}, "$fxv#1": {"imageName": "ubuntu-vmImage", "azureDeployLocation":
      "{deployParameters.location}"}, "$fxv#2": {"location": "{deployParameters.location}",
      "subnetName": "{deployParameters.subnetName}", "ubuntuVmName": "{deployParameters.ubuntuVmName}",
      "virtualNetworkId": "{deployParameters.virtualNetworkId}", "sshPublicKeyAdmin":
      "{deployParameters.sshPublicKeyAdmin}", "imageName": "ubuntu-vmImage"}}, "resources":
      [{"type": "Microsoft.Hybridnetwork/publishers/networkfunctiondefinitiongroups/networkfunctiondefinitionversions",
      "apiVersion": "2023-04-01-preview", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''nfDefinitionGroup''), parameters(''nfDefinitionVersion''))]", "location":
      "[parameters(''location'')]", "properties": {"versionState": "Preview", "deployParameters":
      "[string(variables(''$fxv#0''))]", "networkFunctionType": "VirtualNetworkFunction",
      "networkFunctionTemplate": {"nfviType": "AzureCore", "networkFunctionApplications":
      [{"artifactType": "VhdImageFile", "name": "[format(''{0}Image'', parameters(''nfName''))]",
      "dependsOnProfile": null, "artifactProfile": {"vhdArtifactProfile": {"vhdName":
      "[format(''{0}-vhd'', parameters(''nfName''))]", "vhdVersion": "[parameters(''vhdVersion'')]"},
      "artifactStore": {"id": "[resourceId(''Microsoft.HybridNetwork/publishers/artifactStores'',
      parameters(''publisherName''), parameters(''saArtifactStoreName''))]"}}, "deployParametersMappingRuleProfile":
      {"vhdImageMappingRuleProfile": {"userConfiguration": "[string(variables(''$fxv#1''))]"},
      "applicationEnablement": "Unknown"}}, {"artifactType": "ArmTemplate", "name":
      "[parameters(''nfName'')]", "dependsOnProfile": null, "artifactProfile": {"templateArtifactProfile":
      {"templateName": "[format(''{0}-arm-template'', parameters(''nfName''))]", "templateVersion":
      "[parameters(''armTemplateVersion'')]"}, "artifactStore": {"id": "[resourceId(''Microsoft.HybridNetwork/publishers/artifactStores'',
      parameters(''publisherName''), parameters(''acrArtifactStoreName''))]"}}, "deployParametersMappingRuleProfile":
      {"templateMappingRuleProfile": {"templateParameters": "[string(variables(''$fxv#2''))]"},
      "applicationEnablement": "Unknown"}}]}}}]}, "parameters": {"location": {"value":
      "uksouth"}, "publisherName": {"value": "ubuntuPublisherTest"}, "acrArtifactStoreName":
      {"value": "ubuntu-acr-test"}, "saArtifactStoreName": {"value": "ubuntu-blob-store"},
      "nfName": {"value": "ubuntu-vm"}, "nfDefinitionGroup": {"value": "ubuntu-vm-nfdg"},
      "nfDefinitionVersion": {"value": "1.0.0"}, "vhdVersion": {"value": "1-0-0"},
      "armTemplateV[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.Hybridnetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0",
        "name": "ubuntu-vm-sa-manifest-1-0-0", "type": "microsoft.hybridnetwork/publishers/artifactstores/artifactmanifests",
        "location": "uksouth", "systemData": {"createdBy": "patrykkulik@microsoft.com",
        "createdByType": "User", "createdAt": "2023-08-22T11:55:12.0079274Z", "lastModifiedBy":
        "patrykkulik@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2023-08-22T11:55:12.0079274Z"}, "properties": {"artifacts": [{"artifactName":
        "ubuntu-vm-vhd", "artifactType": "VhdImageFile", "artifactVersion": "1-0-0"}],
        "artifactManifestState": "Uploading", "provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"360022ce-0000-1100-0000-64e4a2260000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0/listCredential?api-version=2023-04-01-preview
  response:
    body:
      string: '{"storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ubuntu-blob-store-HostedResources-0C3AC0E1/providers/Microsoft.Storage/storageAccounts/0c3ac0e1ubuntublobstore6",
        "containerCredentials": [{"containerName": "ubuntuvmvhd-1-0-0", "containerSasUri":
        "https://xxxxxxxxxxxxxxx.blob.core.windows.net/ubuntuvmvhd-1-0-0?sv=2021-08-06&si=StorageAccountAccessPolicy&sr=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}],
        "expiry": "2023-08-23T11:57:21.0846467+00:00", "credentialType": "AzureStorageAccountToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02386.1640
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vnf_nsd_000001/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisherTest/artifactStores/ubuntu-acr-test/artifactManifests/ubuntu-vm-acr-manifest-1-0-0/listCredential?api-version=2023-04-01-preview
  response:
    body:
      string: '{"username": "ubuntu-vm-acr-manifest-1-0-0", "acrToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "acrServerUrl": "https://ubuntupublishertestubuntuacrtest5bcb468ef3.azurecr.io",
        "repositories": ["ubuntu-vm-arm-template"], "expiry": "2023-08-23T11:57:22.6314422+00:00",
        "credentialType": "AzureContainerRegistryScopedToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02386.1640
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '512'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Tue, 22 Aug 2023 11:57:23 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://xxxxxxxxxxxxxxx.blob.core.windows.net/ubuntuvmvhd-1-0-0/ubuntuvm-1-0-0.vhd?sv=2021-08-06&si=StorageAccountAccessPolicy&sr=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBA306F24BA6AC"'
      last-modified:
      - Tue, 22 Aug 2023 11:57:23 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: "61 38 6b 92 16 4b cc ac 6f d4 02 5c 6f 62 79 b9 \n8e 62 ae 07 02 1c dc
[...]
