// Copyright (c) Microsoft Corporation.

// This file creates an Artifact Manifest for a NSD
param location string
@description('Name of an existing publisher, expected to be in the resource group where you deploy the template')
param publisherName string
@description('Name of an existing ACR-backed Artifact Store, deployed under the publisher.')
param acrArtifactStoreName string
@description('Name of the Artifact Manifest to create')
param acrManifestName string

// If using publish command, this is created from deploying the nsdbase.bicep
resource publisher 'Microsoft.HybridNetwork/publishers@2023-09-01' existing = {
  name: publisherName
  scope: resourceGroup()
}

// If using publish command, this is created from deploying the nsdbase.bicep
resource acrArtifactStore 'Microsoft.HybridNetwork/publishers/artifactStores@2023-09-01' existing = {
  parent: publisher
  name: acrArtifactStoreName
}

// Artifact manifest from ARMTemplate and NF RET artifacts
resource acrArtifactManifest 'Microsoft.Hybridnetwork/publishers/artifactStores/artifactManifests@2023-09-01' = {
  parent: acrArtifactStore
  name: acrManifestName
  location: location
  properties: {
    artifacts: [
    {%- for artifact in acr_artifacts %}
      {
        artifactName: '{{ artifact.artifact_name }}'
        artifactType: '{{ artifact.artifact_type }}'
        artifactVersion: '{{ artifact.artifact_version }}'
      }
    {%- endfor %}
    ]
  }
}